
*{
   font-family: 'Montserrat',sans-serif !important;
   font-size :16px;
}
:root{
  --primary : aqua;
  --secindary:green;
}


.table {

  height: 100vh;
  align-items: center;
}
.width{
  width: 300px;

}

input{
  height: 40px;
  border: 2px solid rgb(184, 184, 184);
  width:100%;
}
.card primary{

  border: 2px solid rgb(254, 0, 203);
  box-shadow: 0 0 2px gray;
}
.login-btn{
  width: 30%;
  padding: 10px 20px;
  background-color: var(--primary);
  color:rgb(24, 23, 23);


}

